<div class="container">
    <div class="card">
        <mat-card class="example-card">
            <mat-card-subtitle>{{title}}</mat-card-subtitle>
            <mat-card-title class="text">Playground of Android World</mat-card-title>
            <mat-card-content class="margin">
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-title><h2 class="card-title">Login</h2></mat-card-title>

            <form [formGroup]="loginForm">
            <div class="parent-form">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Enter your good name... </mat-label>
                    <input (change)="handleChange()" formControlName="userName" matInput autocomplete="off">
                    <mat-hint><span class="err-msg" *ngIf="showMsg">enter your name</span></mat-hint>
                </mat-form-field>
            </div>


            </form>

            <mat-divider inset></mat-divider>
            
            <div class="btns" mat-dialog-actions>
                <button mat-stroked-button (click)="clear()">clear</button>
                <button mat-raised-button color="warn" (click)="login()">login</button>
            </div>
            <mat-card-footer>
            <mat-progress-bar color="warn" [mode]="loader"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
